# Keldair example configuration file
server {
    host = irc.example.net
    port = 6667
}

keldair {
    nick = Keldair
    ident = keldair
    real = "Keldair IRC Bot"
}

channels {
    debug = '#debug'
    general = '#general'
}

admin {
    nick = 'misconfigured'
    real = 'misconfigured admin'
    email = 'admin@misconfigured.tld'
}
